.App-header {
  background-color: #467df3;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
}

h1{
  color: aliceblue;
}
.options{
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.options button{
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 400px;
  border-radius: 10px;
  background: orange;
  color: white;
}

.content{
  padding: 10px;
}
.newCityForm{
  display: none;
  width: 800px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newCityForm input{
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 400px;
  border-radius: 10px;
  background: rgb(168, 216, 159);
  color: white;
  margin-bottom: 10px;
}
.newCityForm button{
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 400px;
  border-radius: 10px;
  background: rgb(241, 148, 41);
  color: white;
  margin-bottom: 10px;
}

.cityList{
  display: none;
  width: 800px;
  flex-direction: column;
}

.listImage{
  display: flex;
  border: olive 1px solid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.thumbnail{
  margin: 10px;
}

span{
  color: white;
  font-size: 40px;
}